server.host: "127.0.0.1"
elasticsearch.hosts: ["http://{{es1_ip}}:9200"]
elasticsearch.username: "{{elastic_user}}"
elasticsearch.password: "{{elastic_password}}"
xpack.encryptedSavedObjects.encryptionKey: "{{encryption_key}}"
xpack.reporting.encryptionKey: "{{encryption_key}}"
xpack.security.enabled: true 